<h1 class="text-center">Edit Painting</h1>
<form method="post" action="/admin/paintings/edit/{{data.PaintingId}}" enctype="multipart/form-data">
    <div class="d-flex justify-content-center align-items-center flex-column">
        <img src="{{data.ImageUrl}}" alt="{{data.PaintingName}}" class="w-50">
        <p class="fst-italic">Current Image</p>
    </div>
    <div class="mb-3">
        <label for="uploadImage" class="form-label">Image</label>
        <input class="form-control" type="file" id="uploadImage" name="uploadImage">
    </div>
    <div class="mb-3">
        <label for="paintingName" class="form-label">Name</label>
        <input type="text" class="form-control" id="paintingName" name="paintingName"
            aria-describedby="Name of painting" value="{{data.PaintingName}}" required>
    </div>
    <div class="mb-3">
        <label for="paintingDescription" class="form-label">Description</label>
        <textarea class="form-control" id="paintingDescription" name="paintingDescription"
            rows="5" required>{{data.PaintingDescription}}</textarea>
    </div>
    <div class="input-group col-md-2">
        <label for="paintingPrice" class="form-label"></label><br>
        <div class="input-group-text">Price (€)</div>
        <input type="number" class="form-control" id="paintingPrice" name="paintingPrice"
            value="{{data.PaintingPrice}}">
    </div>
    <div>
        <label for="paintingLength" class="form-label">Length</label>
        <input type="number" class="form-control" id="paintingLength" name="paintingLength"
            value="{{data.PaintingLength}}" required>
    </div>
    <div class="mb-3">
        <label for="paintingWidth" class="form-label">Width</label>
        <input type="number" class="form-control" id="paintingWidth" name="paintingWidth"
            value="{{data.PaintingWidth}}" required>
    </div>
    <div class="mb-3">
        <label for="paintingMedium" class="form-label">Medium</label>
        <select id="paintingMedium" name="paintingMedium" class="form-select" aria-label="Medium"
            selected="{{data.MediumName}}">
            {{#each mediums}}
            <option {{#if this.selected}}selected="selected" {{/if}} value="{{this.Medium}}">{{this.Medium}}</option>
            {{/each}}
        </select>
    </div>
    <div class="mb-5">
        <label for="paintingAvailability" class="form-label">Availability</label>
        <select id="paintingAvailability" name="paintingAvailability" class="form-select" aria-label="Availability"
            selected="{{data.AvailabilityName}}">
            {{#each availabilities}}
            <option {{#if this.selected}}selected="selected" {{/if}}value="{{this.Availability}}">{{this.Availability}}
            </option>
            {{/each}}
        </select>
    </div>

    <button id="paintingForm" type="submit" class="btn btn-primary">Submit</button>
</form>