<h1 class="text-center">{{paintingDisplay.PaintingName}}</h1>
<div class="d-flex justify-content-center align-items-center flex-column">
    <div class="d-flex justify-content-center align-items-center">
        <img src="{{paintingDisplay.ImageUrl}}" alt="{{paintingDisplay.PaintingName}}"
            class="mg-fluid w-50">
    </div>
    <div class="w-50 justify-content-center">
        <table class="table mt-5 text-center">
            <tr>
                <th scope="row">Title</td>
                <td>{{paintingDisplay.PaintingName}}</td>
            </tr>
            <tr>
                <th scope="row">Description</td>
                <td>{{paintingDisplay.PaintingDescription}}</td>
            </tr>
            <tr>
                <th scope="row">Dimensions</td>
                <td>{{paintingDisplay.PaintingDimensions}}</td>
            </tr>
            <tr>
                <th scope="row">Price</td>
                <td>{{paintingDisplay.PaintingPrice}}</td>
            </tr>
            <tr>
                <th scope="row">Medium</td>
                <td>{{paintingDisplay.MediumName}}</td>
            </tr>
            <tr>
                <th scope="row">Availability</td>
                <td>{{paintingDisplay.AvailabilityName}}</td>
            </tr>
        </table>
    </div>
</div>