<h1 class="text-center">Paintings</h1>
<form class="d-flex justify-content-center align-items-center" role="search">
    <div class="row">
        <div class="col">
            <div class="form-floating">
                <select class="form-select" aria-label="Filter by medium" name="medium" id="medium">
                    <option value=""></option>
                    {{#each options.mediums}}
                    <option {{#if this.selected}}selected="selected"{{/if}} value="{{this.MediumName}}" >{{this.MediumName}}</option>
                    {{/each}}
                </select>
                <label for="medium">Medium</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <select class="form-select" aria-label="Filter by availability" name="availability" id="availability">
                    <option></option>
                    {{#each options.availabilities}}
                    <option {{#if this.selected}}selected="selected"{{/if}} value="{{this.AvailabilityName}}" >{{this.AvailabilityName}}</option>
                    {{/each}}
                </select>
                <label for="availability">Availability</label>
            </div>
        </div>
        <div class="col">
            <div class="form-floating">
                <input class="form-control me-2" type="search" aria-label="Search"
                    name="search" id="search" value="{{searchText}}">
                <label for="search">Input</label>
            </div> 
        </div>
        <div class="col">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>


</form>
{{#if data}}
<div class="d-flex">
    <div style="width:50%;">
        {{#each data}}
        {{#unless this.Odd}}
        <div class="card m-3">
            <a href="/paintings/{{this.PaintingId}}">
                <img src="{{this.ImageUrl}}" alt="{{this.PaintingName}}" class="card-img-top">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{this.PaintingName}}</h5>
                <p class="card-text">{{this.PaintingLength}} x {{this.PaintingWidth}} cm</p>
            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>
    <div style="width:50%;">
        {{#each data}}
        {{#if this.Odd}}
        <div class="card m-3">
            <a href="/paintings/{{this.PaintingId}}">
                <img src="{{this.ImageUrl}}" alt="{{this.PaintingName}}" class="card-img-top">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{this.PaintingName}}</h5>
                <p class="card-text">{{this.PaintingLength}} x {{this.PaintingWidth}} cm</p>
            </div>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>
{{else}}
<div class="text-center">Oops, there's nothing here</div>
{{/if}}